/.env
/api/.env
/web/.env
/api/vendor/
/web/vendor/
/web/node_modules/
/api/node_modules/
/api/storage/*.key
/web/storage/*.key
/api/storage/logs/*.log
/web/storage/logs/*.log
/api/database/*.sqlite
/web/database/*.sqlite
/api/public/build/
/web/public/build/
/.phpunit.cache/
/.idea/
/.vscode/
