APP_NAME="Denetfils Web"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://127.0.0.1:8001

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=denetfils_web
DB_USERNAME=denetfils
DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=denetfils_web

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="support@denetfils.fr"
MAIL_FROM_NAME="${APP_NAME}"

API_BASE_URL=http://127.0.0.1:8000/api/v1
SANCTUM_STATEFUL_DOMAINS=127.0.0.1:8001,localhost:8001

GA4_MEASUREMENT_ID=
SENTRY_LARAVEL_DSN=

VITE_APP_NAME="${APP_NAME}"
VITE_API_BASE_URL="${API_BASE_URL}"
VITE_GA4_MEASUREMENT_ID="${GA4_MEASUREMENT_ID}"
